.btn-wpp {
    color: rgb(153, 149, 149);
    font-weight: 800;
    font-size: 1.6rem;
    text-align: center;
}

.btn-gmail{
    color: #999595;
    font-weight: 800;
    font-size: 1.6rem;
    text-align: center;
}